// Presentacion de producto de forma individual
.oneProductCard {
  border-radius: 10px;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  align-items: center;
  .oneProductCard__imagen {
    width: 50%;
    height: 50%;
    border-radius: 10px;
  }
  .oneProductCard__info * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .oneProductCard__info {
    margin: 0 auto 0 auto;
    text-align: center;
    h2 {
      font-size: 1.2em;
      color: black;
    }
    h3 {
      color: rgb(255, 0, 0);
    }
    .oneProductCard__info-buyButton {
      background: var(--bg-nav-color);
      padding: 10px;
      width: 120px;
      border: 0;
      border-radius: 2px;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      color: white;
      cursor: pointer;
      &:hover {
        background: rgb(167, 0, 0);
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
      }
    }
    .oneProductCard__info-video {
      .oneProductCard__info-video-iframe {
        width: 90%;
        border-radius: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    display: block;
    .oneProductCard__imagen {
      display: block;
      margin: auto;
    }
    .infoProductoUnico * {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
  }
}
.oneProductCard__description {
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  *:not(:first-child) {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .oneProductCard__description-list {
    margin-left: 1rem;
  }
}
